@font-face {
    font-family: 'Inconsolata';
    src: url('../assets/fonts/static/Inconsolata-Regular.ttf')format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('../assets/fonts/static/Inconsolata-Medium.ttf')format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('../assets/fonts/static/Inconsolata-Bold.ttf')format('truetype');
    font-weight: 700;
    font-style:normal;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('../assets/fonts/static/Inconsolata-ExtraBold.ttf')format('truetype');
    font-weight: 800;
    font-style: normal;
}

@import "tailwindcss";

@theme {
    --font-Inconsolata:Inconsolata, monospace;
}
