@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-Noto-Sans: "Noto+Sans", "sans-serif";
  
  /* Font Weights */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  
  /* Font Size */
  --font-size-base: 16px;
  
  /* Neutral Colors */
  --color-neutral-900: hsl(227, 75%, 14%);
  --color-neutral-800: hsl(226, 25%, 17%);
  --color-neutral-700: hsl(225, 23%, 24%);
  --color-neutral-600: hsl(226, 11%, 37%);
  --color-neutral-300: hsl(0, 0%, 78%);
  --color-neutral-200: hsl(217, 61%, 90%);
  --color-neutral-100: hsl(0, 0%, 93%);
  --color-neutral-0: hsl(200, 60%, 99%);
  
  /* Red Colors */
  --color-red-400: hsl(3, 86%, 64%);
  --color-red-500: hsl(3, 71%, 56%);
  --color-red-700: hsl(3, 77%, 44%);
  
  /* Gradient Colors */
  --color-light-gradient: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
  --color-dark-gradient: linear-gradient(180deg, #040918 0%, #091540 100%);
  
  /* Custom Background Images for Gradients */
  --background-image-light-gradient: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
  --background-image-dark-gradient: linear-gradient(180deg, #040918 0%, #091540 100%);

}

.bg-dark-gradient {
  background: linear-gradient(180deg, #040918 0%, #091540 100%);
}

.bg-light-gradient {
  background: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
}