@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: white;
}

.container {
    text-align: center;
    width: 90%;
    max-width: 600px;
}

/* Logo */
.brand-img {
    margin-bottom: 20px;
}

/* Heading */
h1 {
    color: hsl(0, 0%, 59%);
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 10px;
}

h1 span {
    color: hsl(209, 33%, 12%);
    font-weight: 700;
}

/* Subtitle */
.text {
    font-size: 18px;
    color: hsl(0, 0%, 59%);
    margin-bottom: 30px;
}

/* Notification Form */
.notify {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.input-container {
    position: relative;
}

input {
    width: 320px;
    padding: 15px;
    border: 2px solid hsl(0, 0%, 90%);
    border-radius: 50px;
    font-size: 16px;
}

input::placeholder {
    color: hsl(0, 0%, 90%);
}

button {
    background-color: hsl(223, 87%, 63%);
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 50px;
    padding: 15px 40px;
    cursor: pointer;
    box-shadow: 0px 5px 12px -4px hsl(223, 87%, 63%);
    transition: 0.3s;
}

button:hover {
    opacity: 0.8;
}

/* Error Message */
.error-message {
    color: red;
    font-size: 12px;
    text-align: left;
    margin-top: 5px;
    padding-left: 15px;
}

/* Dashboard Image */
.dashboard img {
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
}

/* Social Media */
.social-media {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.social-media img {
    width: 30px;
    height: 30px;
    padding: 5px;
    border: 1px solid hsl(0, 0%, 92%);
    border-radius: 50%;
    transition: 0.3s;
}

.social-media img:hover {
    background-color: hsl(223, 87%, 63%);
    
}
/* .social-media a img{
    transition: opacity 0.3s ease-in-out;
} */
.social-media a:nth-of-type(1):hover img{
    background-color:  hsl(223, 87%, 63%);
    content: url('/images/color_less/3057625_facebook_media_network_social_icon.png');
}
.social-media a:nth-of-type(2):hover img{
    content: url('/images/color_less/4375119_logo_twitter_icon.png');
}
.social-media a:nth-of-type(3):hover img{
    content: url('/images/color_less/9111277_instagram_icon.png');
}


.copyright {
    font-size: 12px;
    color: hsl(0, 0%, 59%);
    margin-top: 20px;
}
footer{
    margin-top: 50px;
    font-size: 16px;
    text-align: center;
    color: hsl(0, 0%, 59%);

}

/* Responsive Design */
@media (max-width: 768px) {
    input {
        width: 322px;
        padding-left: 40px;
    }

    .notify {
        flex-direction: column;
        gap: 10px;
    }

    button {
        width: 54%;
    }
}
